body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  margin-right: 1vw;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
}

.trybewarts-header-logo {
  width: 100px;
  height: 100px;
}

#evaluation-form{
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 500px;
  display: flex;
}

.dados {
 display: flex;
 flex-direction: row;
}

#sectionContainer {
  display: flex;
}

#labelContainer {
  flex-direction: column;
}

#checkboxContainer {
  flex-direction: column;
}

.labelContent {
  display: block;
}