body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  margin-right: 1vw;
}